*.ai
.DS_Store
*.swp
~$*
.Rproj.user
.Rproj*
.RHistory
.Rhistory
*.Rproj
09_commandline/sw-carpentry-shell-novice/shell-lesson-data/exercise-data/alkanes/lengths.txt
07_Microbiome_Metcalf/faithPDplot.pdf
